<h2>welcome to musicwall</h2>
<form method="post" action="/authenticate_user">
  <div>
    <label>email:</label>
    <input type="text" name="email">
  </div><br>
  <div>
    <label>password:</label>
    <input type="password" name="password">
  </div><br>
  <div>
    <input type="submit" value="login">
  </div>
</form>
<a href='/signup'>signup</a>